@import url(small.css) (min-width:0px);
@import url(large.css) (min-width:700px);

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
  margin: auto 0;
}

*:not(button) {
  cursor: url('pencil.png') 0 16, default;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  font-family: minion-pro, serif;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  text-align: center;
  /* cursor: url('question.png') 0 16, pointer; */
}

input {
  border: none;
  border-radius: 2px;
  font-size: 16px;
  text-shadow: #858ebc -2px 2px 8px;
}

input[type='checkbox']:checked {
  background-color: #0000ffd1;
}

.label, #heading, #footer {
  background-color: var(--alt-bg-color);
}

.label {
  font-size: 16px;
  color: var(--main-bg-color);
  border: none;
  padding-bottom: 16px;
  font-weight: bold;
}

#footer {
  display: flex;
  justify-content: space-evenly;
}
