
body {
  font-size: 10px;
}

form {
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 10%;
  width: 414px; /* tried and true for the amount of checked boxes on screen */
}

h1 {
  margin: 0 auto;
  padding: 12px 16px 16px;
  color: var(--main-bg-color);
}

#footer {
  padding: 5% 0 3%;
}

#sheet {
  background: linear-gradient( to bottom, var(--main-text-color), var(--main-text-color) 50%, var(--alt-bg-color) 50%, var(--alt-bg-color));
  background-size: 100% 40px;
}

input[type='checkbox'] {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #222;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}